/paper/TAGS
/paper/auto/
/paper/paper.aux
/paper/paper.bbl
/paper/paper.log
/paper/paper.pdf
/paper/paper.synctex.gz
/paper/paper.blg
/paper/paper.out
/paper/texput.log
/presentation/presentation.out
/presentation/presentation.toc
/presentation/TAGS
/presentation/auto/
/presentation/presentation.aux
/presentation/presentation.bbl
/presentation/presentation.bcf
/presentation/presentation.log
/presentation/presentation.nav
/presentation/presentation.snm
/presentation/presentation.synctex.gz
